@import url(https://fonts.googleapis.com/css?family=Raleway);

:root {
  --body-bg-color: #6930c3; /* #815ac0 */
  --container-bg-color: #FFF; /* #FFF */
}

* {
  list-style: none;
}

body {
  background-color: var(--body-bg-color);
  -webkit-font-smoothing: antialiased;
  font-family: 'Raleway', sans-serif;
}

.container {
  background-color: var(--container-bg-color);
  width: 85%;
  margin: 2rem auto;
  padding: 0.5rem;
  border: 1rem solid var(--container-bg-color);
  box-shadow: 5px 5px 5px #000; 
  box-sizing: border-box;
}

.header {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: solid 2px var(--body-bg-color);
}

h1 {
  text-align: center;
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.links-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact-link {
  color: inherit;
  font-size: 1.25rem;
  margin: 0 0.5rem;
  padding: 0 0.5rem;
  text-decoration: underline;
}

.contact-link:hover {
  color: var(--body-bg-color);
  text-decoration: underline;
}

.section {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: solid 2px var(--body-bg-color);
}

h3 {
  font-size: 2rem;
  margin-bottom: 0;
}

.desc-with-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  padding-left: 0.5rem;
  margin-bottom: 0;
}

li {
  margin: 1.25rem 0;
}

.icon {
  height: 50px;
  width: 50px;
  object-fit: contain;
}

.content-container {
  margin-left: 0;
  margin-top: 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  width: 100%;
  box-sizing: border-box;
}

.title {
  font-weight: bold;
  font-size: 1.25rem;
  text-decoration: none;
  color: inherit
}
.title:hover {
  color: var(--body-bg-color);
  text-decoration: underline;
}

.description {
  margin: 0.1rem 0;
}

.indicator {
  margin-top: -45px;
  margin-left: 45px;
  height: 10px;
  font-size: 2.5rem;
  text-decoration: none;
  position: absolute;
}

.live {
  color: #79d70f;
}

.dead {
  color: #d54062;
}

.center {
  text-align: center;
}

@media (min-width: 768px) {
  .container {
    width: 50%; 
    padding: 1rem;
  } 

  h1 {
    font-size: 2.5rem;
  }

  .desc-with-img {
    flex-direction: row;
    justify-content: flex-start;
  }

  .content-container {
    margin-left: 1.5rem;
    text-align: left;
  }

  .indicator {
    margin-top: 4px;
    margin-left: 45px;
  }
}
