<div class="container-fluid list-with-picture-container">
  {% for item in include.content %}
    <div class="row list-item">
      <div class="col-md-2 col-xs-12 image">
        <img src="{{item.icon}}"/>
      </div>
      <div class="col-md-10 col-xs-12 info">
        {% if item.link == null %}
        <h5 class="bold"> {{item.title}} </h5>
        {% else %}
        <a class="title" href="{{item.link}}" target="_blank">
          <h5 class="bold"> {{item.title}} </h5>
        </a>
        {% endif %}
        <p> {{item.subtitle}} </p>
      </div>
    </div>
  {% endfor %}
</div>
